In [12]:
import pandas

df = pandas.DataFrame([[2,4,6], [10,20,30]], columns=['A','B','C'], index=['X','Y']) 

df

    A   B   C
X   2   4   6
Y  10  20  30